<div class="flex items-start space-x-2">
  <%= render(AvatarComponent.new(user: @user, size: 'sm')) %>
  <div class="flex-1">
    <p class="font-semibold text-indigo-800"><%= @user.first_name.capitalize %></p>
    <p class="text-sm font-light text-gray-600 mt-1"><%= @body %></p>
    <p class="mt-2 text-xs text-indigo-400">
      <%= @created_at.strftime("%b %d, %Y - %I:%M %p") %>
    </p>
  </div>
</div>
